
body{
    background-image:url(test.jpg);
    background-size = 100% 100% ;
    background-repeat = no-repeat;
    overflow: scroll;
}
img.profile {
border: 3px solid gray;
box-shadow: 20px 20px 5px #888888;
max-height:400px;
max-width:400px;
}
#image {
	position: absolute;
	top:15%;
	left:35%;
}
#aboutme {
	color:yellow;
	text-align:center;
	font-variant: small-caps;
	position:relative;
	top:50px;
	left:37%;
	border: 5px solid gray;
	border-radius: 2em;
	line-height:200%;
	width:400px;
	height:450px;
	box-shadow: 10px 10px 5px #888888;


}
#hobbies{
	color:white;
	text-align:center-left;
	font-variant: small-caps;
	position:relative;
	top:50px;
	left:37%;
	border:5px solid gray;
	border-radius: 2em;
	line-height:200%;
	width:400px;
	height:450px;
	box-shadow: 10px 10px 5px #888888;
}

table {
    width: 100%;
    height: 35px;
    position: fixed;
}
tr{
    width: 100%;
    height: 35px;
    background-color: dimgray;
}

td a {
    display: block;
    font-size: 30px;
    font-weight: 300;
    background-color: dimgray;
    color: aliceblue;
    text-align: center;
    
}
h1 {
	font-style:italic;
	font-weight:bold;
	font-size:450%;
	color:yellow;
	text-align:center;
	line-height:200%;
	padding-top:400px;
	text-shadow: 2px 2px #FF0000;
}
p{
	text-indent:20px;
	font-variant: small-caps;
}


#contact{
	
	height:400px;
	width:400px;
	position:absolute;
	top:20%;
	left:40%;
	
}
#image3{
	text-align:center;
	position:relative;
	top:10%;
}
#image2{
	position:relative;
	left:45%;
}
#github{
    position: relative;
    top: 20%;
    left: 45%;
    
}
#details{
	color:yellow;
	position:relative;
	top:30%;
	left:20%;

}
